################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/centredereveil.com/CopilotIndices/17.14.1584.41681
/.vs/centredereveil.com/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
